// Typography
$font-family: "Ubuntu", sans-serif;
$legacy-font-family: "proxima-nova", sans-serif;

$font-size-xxxl: 6.275rem;
$font-size-xxl: 4.827rem;
$font-size-xl: 3.713rem;
$font-size-lg: 2.856rem;
$font-size-md: 2.197rem;
$font-size-sm: 1.69rem;
$font-size-xs: 1.3rem;
$font-size-xxs: 1rem;
$font-size-xxxs: 0.769rem;
$font-size-xxxxs: 0.592rem;
$font-size-xxxxxs: 0.455rem;
