.container {
  background-color: white;
  border-radius: 16px;
  height: 60vh;

  .messages {
    height: calc(60vh - 100px - 1.5rem);
    overflow-y: scroll;
    margin: 0 auto;
    padding: 24px;
  }
}
