.message-container {
  display: flex;
  align-items: center;
  margin: 20px auto 0;
  position: relative;
}

.message-bar {
  display: flex;
  background-color: #e4e9f0;
  flex: 1 1 90%;
  margin-right: 16px;
  padding: 16px;
  border-radius: 50px;
}

.input {
  background-color: transparent;
  margin: 0 16px;
  flex: 1 1 90%;
  border: none;
  font-size: 16px;
}

.send-button {
  display: flex;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #1569e0;
  color: white;
  border: none;
  align-items: center;
  justify-content: center;
}

.picker-button {
  border: none;
  border-radius: 50%;
  color: unset;
}

.picker {
  position: absolute;
  bottom: 100%;
  left: 0;
}
